body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    background-color: rgb(250, 244, 255);

    /* justify-content: center; */
    align-items: center;
}

h1, label, p, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1>p, label {
    font-size: 1.2rem;
    line-height: 2rem;
}

button{
    /* outline: 10px solid white; */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(83, 60, 99);
    color: white;
}

.backgroundanimation {
    position: absolute;
    z-index: -1;
    height: 100vh; 
    width: 50%;
    background-color: rgb(31, 18, 42);
    border-radius: 0 50% 50% 0; 
}

.background {
    flex: 50%;
    height: 100vh; 
    width: 100%;
    /* HINTERGRUND AUF FALSCHER EBENE. FÜHRT ZU SPRÜNGEN */
    /* background: rgb(25, 25, 25); */
    display: grid; 
    align-content: center;
    justify-content:center;

    border-radius: 0 50% 50% 0;

    & #signIn {
        color: white;
        padding: 20%; 
    }
}

#signUp {
    flex: 60%;
    width: 100vh;
    /* display: grid; 
    justify-content: center; */
}

#logIn {
    visibility: hidden;
    align-content: center;

    /* WIRD GETOGGELT ZWISCHEN 0 & 50  */
    flex: 0%;
    height: 100vh; 

    /* WIRD GETOGGELT */
    & > * {
        display: none; 
    }

    & .loginformfield > * {
        width: 0px;
    }
}

#spasssword:valid {
    background-color: aqua;
}

#logIn, #signIn, #signUp {
    display: grid; 
    justify-content: center;

    /* & input[type='text'], button { */
    & input, button {
    padding: 4%;
    }

    /* WIRD GETOGGELT */
    & .signupformfield {
        width: 350px;
    }

    & .signupformfield, .loginformfield {
        display: grid;
        justify-items: stretch;
        
        > * {
            Margin: 8px 0; 
        }
    }
}

@keyframes ani_signup{
    0% {
        border-radius: 50% 0 0 50%; 
        transform: translate(100%, 0px);
    }
    100% {
        border-radius: 0 50% 50% 0;
        transform: translate(0, 0px);

    }
}

@keyframes ani_signin{
    0% {
        border-radius: 0 50% 50% 0;
    }
    100% {
        border-radius: 50% 0 0 50%;
        transform: translate(100%, 0px);

    }
}